*{
    margin: 0;
    padding: 0;
    

}
.header{

    padding-top: 1%;
    background-color: cornflowerblue;
    padding-left: 0;
    padding-right: 0;
}

.nav{
    background-color: burlywood;
    padding: 1%;
    display: flex;
    justify-content: space-around;
}

.nav__item{
    text-decoration: none;
    color: brown;
    font-weight: 700;
    font-size: x-large;
}

.nav__logo--cursive{
    
    font-style: italic;
    font-weight: 700;
    padding-right: 50%;


}

.span__h1{
    color: rgb(159, 42, 73);
    text-align: center;
    padding: 2% ;
}

.main{
    padding: 2%;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% ;
    padding-left: 2%;
    background-color: cornflowerblue;
    
}

.div_padre {
    display: flex;
    gap: 2%;
    align-items: center;
    padding: 2%;
    width: 80%;
    height: 150%;
    margin-bottom: 2%;
    background-color: aliceblue;
    
}

.div_padre__hijo{
    width: 100%;
    height: 100%;
    padding: 5%;    
}

.div_padre__hijo--Greece{
   
    background-image: url(../img/Greece.jpg);
    background-size: cover;

}

.div_padre__hijo--Japan{
    background-image: url(../img/Japan.webp);
    background-repeat: no-repeat;
    
}

.div_padre__hijo--Thailand{
    background-image: url(../img/Thailand.jpg);
    background-size: cover;
    
}

.div_padre__hijo--Turkey{
    background-image: url(../img/Turkey.jpg);
    background-size: cover;

}


/*.div_padre__hijo__img{
     width: 50%;
     height: 50%;
    object-fit: cover;  
}*/


.div_padre__hijo__button{
    width: 20%;
    height: 20%;
    padding: 1%;
    background-color: rgb(177, 53, 94);
    border: none;
    color: aliceblue;

}

.span-2__h1{
    
    color: rgb(159, 42, 73);
    text-align: center;
    padding: 2% ;
}


.div_principal-paquetes{
    display: flex;
    background-color: cornflowerblue;
    gap: 2%;
    text-align: center;
    border-style: dotted;
    
}

.div_principal-paquetes_hijos{
    background-color: aliceblue;
    padding: 2%;
}

.div_principal-paquetes_hijos-h2{
    background-color: bisque;
    color: rgb(159, 42, 73);;
}

.div_principal-paquetes_hijos-h2-button{

    background-color: darkcyan;
    padding: 1%;
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 5%;

}

.form{
   
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.form__span{
    padding-bottom: 5%;
    padding-left: 25%;
}

.form__span label{
    font-size: medium;
    font-weight: 700;
    color: rgb(159, 42, 73);
}

.form__h1{
     color: rgb(159, 42, 73);
    text-align: center;
    padding: 2% ;
    width: 100%;
}

.main__div{
    text-align: center;

}

.form__button{
    background-color: brown;
    border: none;
    padding: 1%;
    color: white;
    width: 20%;
    height: 5%;
    font-size:large;
}

.footer{
    background-color: cornflowerblue;
    padding-bottom: 0;
    text-align: center;
    color:white
}